*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #262626;
}

.container{
    
    color: #fff;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2.5rem;
    
    
}

nav ul{
    padding-left: 35rem;
    padding-bottom: 0;
    
}

nav ul a{
    padding: 1.5rem 2.5rem;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    position: relative;

    
}

nav h1{
    font-size: 30px;
    
}

nav span{
    color: red;
}

nav ul a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #e31b59;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

nav ul a:hover::after{
    width: 100%;
}

.home{
    min-height: 100vh;
    padding: 1rem 9% 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .2rem;
    background-color: #262626;

}

.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
}

.home-content h1{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1rem;
    line-height: 1;
}

.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #e31b59;
}
.home-img{
    border-radius: 100%;
}

.home-img img{
    position: relative;
    top: 10px;
    width: 350px;
    border-radius: 350px;
   

    
}

/* @keyframes floating{
    0%{
        transform: translate(0, 0px);
    }
    50%{
        transform: translate(0, 10px);
    }
    100%{
        transform: translate(0, -10px);
    }
} */





.about{
    height: 100%;
    padding-top: 10%;
    background-color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    padding-left: 50px;
}

.about-col-1 img{
    width: 80%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
    color: black;
}

.sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: black;
}

.about-col-2 p{
    padding-top: 25px;
    font-size: 20px;
}

.services{
    padding: 10% 30px;
    height: 100%;
    background-color: #fff;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background-color: #262626;
    color: #fff;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.3s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #fff;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #e31b59;
    transform: translateY(-10px);
}

.project{
    padding: 20px 30px;
    height: 100%;
    background-color: #fff;
    
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 120px;
    margin: 50px;
}

.project1{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project1 img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #e31b59);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 auto;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    font-family: "Poppins", sans-serif;
}

.layer h2{
    font-weight: 500;
    font-size: 30px;
    
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.project1:hover img{
    transform: scale(1.1);
}

.project1:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #e31b59;
    padding: 11px 60px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    transition: background 0.5s;
}

.btn:hover{
    background: #e31b59;
    color: white;
}

.contact{
    height: 100%;
    background-color: #262626;
    padding: 50px 30px;
}

.contact-left .sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.contact-left{
    flex-basis: 35%;
    
}

.contact-right{
    flex-basis: 60%;
    
}

.contact-left p{
    margin-top: 30px;
    font-size: 18px;
}
.contact-left p a{
    margin-right: 15px;
    font-size: 25px;
    color: #e31b59;
}
.social-icon{
    margin-top: 30px;
}

.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icon a:hover{
    color: #e31b59;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #e31b59;
    transition: background 0.5s;
}

.btn.btn2:hover{
    background: transparent;
}

.row .btn{
  
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}


.contact-right form{
    width: 90%;
    
    
}

form input,
form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #1d1d1d;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* .custom-shape-divider-top-1716266443 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1716266443 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 112px;
}

.custom-shape-divider-top-1716266443 .shape-fill {
    fill: #FFFFFF;
} */
